.buy {
	position: relative;
	height: 100%;
	background: url('../img/bg.png') center center / cover no-repeat;
	padding-top: 400px;
	@include circle;
	&__wrapper {
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(3, auto);
		column-gap: 20px;
	}
	&__item {
		height: 355px;
		width: 680px;
		background: #0B1C47;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__url {
		margin-top: 55px;
		font-weight: 700;
		font-size: 36px;
		color: #FFFFFF;
		&_detali {
			margin-top: 35px;
		}
		&_wb {
			margin-top: 30px;
		}
	}
}
.slick-prev, .slick-next {
	position: absolute;
	top: -40px;
	transform: translateY(-50%);
	right: 180px;
	border: none;
	background-color: unset;
	transition: 0.5s all;
	img {
		width: 98px;
		height: 17px;
	}
}
.slick-next {
	right: 50px;
	left: auto;
	opacity: 0.2;
	&:hover {
		opacity: 1;
	}
}

.slick-prev {
	opacity: 0.2;
	&:hover {
		opacity: 1;
	}
}