.menu {
	padding-top: 90px;
	position: fixed;
	width: 1440px;
	height: 50px;
	background: rgba(256, 256, 256, 0);
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(2,auto);
	justify-content: space-between;
	&__list {
		height: 50px;
		width: 710px;
		display: grid;
		grid-template-columns: repeat(5, max-content);
		column-gap: 60px;
		align-items: center;
	}
	&__item {
		display: flex;
		align-items: center;
	}
	&__link {
		font-family: 'DIN Pro';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 25px;
		color: #FFFFFF;
	}
}